body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 100px 0px 50px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    gap: 70px;
}


.sub-container {
    width: 500px;
}

.container-heading {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800px;
    margin-bottom: 25px;
}

.container-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;

}


.flower-container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.section-description {
    padding: 10px 700px;
    width: 400px;
    margin-top: 20px;
    text-align: center;
}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    margin-top: 150px;
}

.flower1 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    /* padding: 20px 20px 0px 20px; */
}

.flower2 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    /* padding: 20px 20px 0px 20px; */
}

.flower3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* section 2 styles */

.banner {
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    margin: 100px;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;

}

.banner-title {
    max-width: 700px;
    padding: 50px 150px 50px 100px;
}

.banner-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.banner .flower-pic {
    width: 500px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
}

/* section3 styles */

.flower-gallery {
    display: flex;
    gap: 18px;
    justify-content: space-around;
    padding: 50px 100px;
}

.banner-heading2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}

.banner-description2 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    width: 500px;
    padding-left: 500px;


}

/* section4 styles */


.section4-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section4-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
}

input {
    border-radius: 8px;
    background: #FFF;
    padding: 20px 100px 20px 20px;


}

.section4-banner {

    max-width: 1200px;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    background-image: url('../Rectangle\ 9.png');
    background-size: cover;
    padding: 100px 550px;
}


/* footer styles section */

footer {
    align-items: center;
    background: black;
    margin: 50px 120px;
    color: white;
    padding: 100px;

}

.footer-heading {
    text-align: center;
    font-size: 48px;
    font-weight: 800;

}

/* .footer-description,
.footer-description2 {
    text-align: center;

} */

.span-flo {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    width: 500px;
    padding-left: 400px;
}

.footer-description2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    }